body
    {
        background-color: black;
        font-family: courier new;
}

header {
    background: red;
    color: black;
    font-size: 72px; 
    padding: 20px;
}

ul, a {
    color: black;
}

li {
    color: black;
    background: #7FFF00;
    padding: 15px;
}

h1 {
    color: red;
    font-family: courier;
    font-size: 84px; 
    } 

h2 {
    color: red;
    font-family: courier;
}

p {
    background: #7FFF00;
    color: black;
    padding: 30px 100px;
    margin-left: 380px;
    margin-right: 380px;
    font-size: 14px
}

h3, h4 {
    color: red;
}

h1, h2, p, a, ul, li, h3 {
    text-align: center;
}

img.animated-gif{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

footer {
    text-align: center;
    margin: 26px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7FFF00;
}

li {
    float: left;
    border-right:0.5px solid black;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: #4CAF50;
}

img.door1 {
  width: 300px;
  height:auto;
  margin-top: -150px;
  float: left;
  margin-left: 100px;

}

img.door2 {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 300px;
   height: auto;
   margin-top: -150px; /* Half the height */
   margin-left: -150px; /* Half the width */
}

img.door3 {
  width: 300px;
  height:auto;
  margin-top: -150px;
  margin-right: 100px;
  float: right;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
