@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
	background-color: #f1f2ed;
	color: #034fa0;
	padding: 50px;
	max-width: 100%;
}

h1 {
	margin: 0 auto;
	padding:60px;
	border: 6px #07eda0 dotted;
	text-align: center;
	width: 500px;
	font-family: 'Permanent Marker', cursive;
}

h2 {
	color: #ff00ff;
}

#sketch { 
	height: 



}
		
ul {
	background-color: brown;
	margin-top: 40px;
	font-size: 18px;
	width: 1280px;
	height: 60px;
	line-height: 60px;
}

ul li {
	float: left;
	list-style-type: none;
	padding-right: 100px;
	/* background-color: pink; */

}

a {
	color: #00ffff;
	text-decoration: none;
}

a:hover {
	color: #00afaf;
	font-weight: bold;
}