body {
  max-width: 800px;
  margin: : 50px auto 200px auto;
  color: #dddddd;
}

h1 {
  color: pink;
}

p {}

.main-content {
    background-color: #333333;
    padding: 20px;
    }

.heading {
    padding: 100px auto;
    margin: 60px;
    text-align: center;
}

.blue {
    background-color: blue;
}

.portfolio-item {
    margin: 60px;
    padding: 60px;
    border: 5px solid #ffffff;
    
}
